<template>
    <div class="container">
        <h2>Fait avec amour ❤️.</h2>
        <p>Réalisé par les meilleurs des meilleurs, la crème de la crème.</p>
    </div>
</template>

<script>
</script>

<style scoped>
    .container {
        padding: 10rem 0;
    }
</style>