<template>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg bg-transparent">
      <div class="container">
        <NuxtLink class="navbar-brand" to="/">
          <img src="@/assets/img/header-paella-logo.png" alt="">
        </NuxtLink>
        <div class="navbar-toggler border-0">
          <NuxtLink class="nav-link py-2 px-0 px-lg-2" to="#carnet" title="Vers profil Facebook">
            Carnet
          </NuxtLink>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item active col-6 col-lg-auto">
              <NuxtLink class="nav-link py-2 px-0 px-lg-2" to="/" title="Vers profil Facebook">
                Home
              </NuxtLink>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <NuxtLink class="nav-link py-2 px-0 px-lg-2" to="#blaguounettes" title="Vers profil Facebook">
                Blaguounettes
              </NuxtLink>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <NuxtLink class="nav-link py-2 px-0 px-lg-2" to="#carnet" title="Vers profil Facebook">
                Le Carnet
              </NuxtLink>
            </li>

            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="https://www.facebook.com/alicia.chapot" target="_blank" rel="noopener" title="Vers profil Facebook">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                </svg>
              </a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="https://fr.linkedin.com/in/alicia-chapot-93493a114" target="_blank" rel="noopener" title="Vers profil Linkedin">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
  var headerClassName = "navbar";
  var className = "navbar-scrolled";
  var scrollTrigger = 50;

  window.onscroll = function() {
    if (window.scrollY >= scrollTrigger || window.pageYOffset >= scrollTrigger)
      document.querySelector('.' + headerClassName).classList.add(className);
    else
      document.querySelector('.' + headerClassName).classList.remove(className);
  };
</script>

<style>
  .navbar {
    transition: ease-in-out all 300ms;  
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar-brand > img {
    width: 3.5rem;
  }

  .navbar-scrolled {
    background-color: var(--main-dark-color);
    backdrop-filter: blur(3px);
  }

  .nav-item.active > .nav-link {
    position: relative;
    color: var(--main-dark-color);
  }

  .nav-item.active > .nav-link::after {
    position: absolute;
    content: '';
    left: 50%;
    right: 50%;
    bottom: 0.1rem;
    width: 5px;
    height: 5px;
    border-radius: 5rem;
    background-color: var(--main-dark-color);
  }
</style>
