<template>
    <div class="container">
        <section class="row landing">
            <div class="col-6 landing-content">
                <article class="landing-content-article">
                    <h1 class="">Pour une créatrice de mauvais goût.</h1>
                    <p>
                        Bienvenue sur mon site Web ! Je suis Webmaster, infographiste et community manager
                    </p>

                    <div>
                        <button class="button-clip">
                            voir mes idées
                        </button>
                    </div>
                </article>
            </div>

            <div class="col-6 landing-profil">
                <div class="text-center">
                    <img class="rounded landing-profil-image" src="../assets/img/profil.jpg" alt="" width="300"
                        height="300">
                </div>
            </div>

            <div class="landing-background-circle"></div>

        </section>

        <section class="row">
            <div class="col-12">
                <span class="landing-social">Facebook</span>
                <span class="landing-social">Instagram</span>
            </div>
        </section>
    </div>

</template>

<script>
</script>

<style scoped>
.landing {
    height: 100vh;
    align-items: center;
}

.landing-content {
    z-index: 1;
}

.landing-content-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.landing-content-article h1 {
    font-size: 3rem;
    font-weight: 800;
}

.landing-profil-image {
    object-fit: cover;
    object-position: top;
}

.landing-background-circle {
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
    background: white;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
}

.landing-social:hover {
    border-bottom: 1px solid black;
}
</style>