<template>
  <div id="app">
    <Header />
    
    <LandingBlockVue />
    <CraftedWithLoveBlockVue />
  </div>
</template>

<script>
import LandingBlockVue from "../components/LandingBlock.vue";
import CraftedWithLoveBlockVue from "../components/CraftedWithLoveBlock.vue";

export default {
    name: "IndexPage",
    components: { CraftedWithLoveBlockVue, LandingBlockVue }
}
</script>
